.selectBooleanCheckboxBV { border-width: 0px; }
.selectBooleanRadioBV { border-width: 0px; }
.selectInputColorBV { border-width: 0px; }
.selectInputDateBV { border-width: 0px; }
.selectManyCheckboxBV { border-width: 0px; }
.selectManyListboxBV { border-width: 0px; }
.selectManyShuttleBV { border-width: 0px; }
.selectOneChoiceBV { border-width: 0px; }
.selectOneListboxBV { border-width: 0px; }
.selectOneRadioBV { border-width: 0px; }
.selectOrderShuttleBV { border-width: 0px; }
.selectRangeChoiceBarBV { border-width: 0px; }


af|body {

}

.AFDarkForeground:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

.AFMediumForeground:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

.AFLightForeground:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

.AFDefaultFont:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

.AFSmallFont:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight: normal;
}

/** inicio - OutputText  */
.BvOutputText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

/** fino - OutputText  */
/*
.AFHeaderText:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
}
*/

/** inicio - Color, texto y diseÃƒÂ±o para controles de ingreso FieldText */
.AFLabelText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}
.AFLabel:alias{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}


.AFLabelCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}

/** controles de ingreso de informacion **/
.AFFieldText {
    color: #666666;
    background: #FFFFFF;
    font-weight: normal;
    border-color: #ABCBE4;
    border-width: 1px;
    border-style: solid;
}

.AFFieldTextReadOnly {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    background: #FFFFFF;
    font-weight: normal;
    border-color: #ABCBE4;
    border-width: 1px;
    border-style: solid;
}

.AFFieldTextDisabled {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(214, 214, 214);
    background: #FFFFFF;
    font-weight: normal;
    border-color: rgb(198, 198, 198);
    border-width: 1px;
    border-style: solid;
}

.AFInstructionText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;    
}

af|inputText::content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
    background: #FFFFFF;
    border-color: #ABCBE4;
    border-width: 1px;
    border-style: solid;
}

af|selectOneRadio {
   border-color: #ABCBE4;
    border-width: 3px;
    border-style: solid;
}

/**
af|inputText:disabled::content {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  background: #FFFFFF; 
  font-weight: normal; 
}
af|inputText:readOnly::content {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  color: #666666;  
  background: #FFFFFF; 
  font-weight: normal; 
}
*/

/** checkbox 
af|selectBooleanCheckbox::read-only-unchecked-icon {
   content: url(images/icons/checkrn.png);
}
af|selectBooleanCheckbox::read-only-checked-icon {
    content: url(images/icons/checkrc.png);
}
af|selectBooleanCheckbox::disabled-only-unchecked-icon {
    content: url(images/icons/checkdn.png);
}
af|selectBooleanCheckbox::disabled-only-checked-icon {
    content: url(images/icons/checkdc.png);
}


/** controles de fecha */
af|inputDate::content {
    border: 1px solid rgb(152, 191, 222);
    color: #666666;
}

af|inputDate::launch-icon {
    vertical-align: top;
    content: url(images/icons/calc.png);
}

af|inputDate::launch-icon:rtl {
    vertical-align: top;
    padding-left: 0px;
    content: url(images/icons/calc.png);
}

af|chooseDate::prev-icon {
    content: url(images/icons/tnavp.gif);
}

af|chooseDate::next-icon {
    content: url(images/icons/tnavn.gif);
}

af|chooseDate::prev-disabled-icon {
    content: url(images/icons/tnavpd.gif);
}

af|chooseDate::next-disabled-icon {
    content: url(images/icons/tnavnd.gif);
}

.OraInlineInfoText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight: normal;
}
/** Begin PanelBox */
/** generic background for light panelBox's or shuttles **/
.AFPanelBoxBody:alias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: white;
}
af|panelBox::body {
     /* padding-top: 10px; */
    padding-top: 12px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;   
}

af|panelBox::header {
    background-image: url("images/panelBox/dark/headerBackground-new.png");
    height: 31px;
    color: #35739f;
    font-size: 15px;
    padding-left: 12px;
    padding-top: 11px;
    margin-top: 0px;
}

af|panelBox::content {
    color: #666666;
    
    padding-left: 26px;
    padding-right: 12px;
    padding-top: 11px;
    padding-bottom: 12px;
    border-left-color: #d6d6d6  ;
    border-left-style: solid;
    border-left-width: 1px ;

    border-right-color: #d6d6d6  ;
    border-right-style: solid;
    border-right-width: 1px ;
    
    border-top-color: #d6d6d6  ;
    border-top-style: solid;
    border-top-width: 1px ;
    
    border-bottom-color: #d6d6d6  ;
    border-bottom-style: solid;
    border-bottom-width: 1px ;    
}

.x10 {
}
/* SIN ESTILO */
/* DARK */
/* LIGTH */
/* MEDIUM */
/* TRANSPARENT */

/** Iconos de navegacion de datos **/
af|selectRangeChoiceBar::prev-icon {
    content: url("images/table/tablePrev.gif");
}

af|selectRangeChoiceBar::next-icon {
    content: url("images/table/tableNext.gif");
}

af|selectRangeChoiceBar::prev-disabled-icon {
    content: url("images/table/tablePrevD.gif");
}

af|selectRangeChoiceBar::next-disabled-icon {
    content: url("images/table/tableNextD.gif");
}

/** Tabla contenido **/
.AFTableCellDataBackgroundColor:alias {
    background-color: white;
    height: 21px;
    vertical-align: middle;
}

.AFTableCellDataBandedBackgroundColor:alias {
    background-color: #e4edf5;
    height: 21px;
    vertical-align: middle;
}

af|table::content {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #ABCBE4;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

/** Tabla Barra de control de navegacion **/
af|table::control-bar-top {
    border-width: 0px; 
    height: 25px;
    color: #666666;
    font-weight: normal;  
    background-color: White;
}

af|table::control-bar-top:link {
    border-width: 0px; 
    height: 25px;
    color: #666666;
    font-weight: normal;  
    background-color: White;
}

af|table::sub-control-bar {
    border-width: 0px; 
    height: 25px;
    color: #666666;
    font-weight: normal;  
    background-color: White;
}

af|table::sub-control-bar:link {
    border-width: 0px; 
    height: 25px;
    color: #666666;
    font-weight: normal;  
    background-color: White;
}

af|table::control-bar-bottom {
    border-width: 0px; 
    height: 25px;
    color: #666666;
    font-weight: normal;  
    background-color: White;
}

/** Cabecera **/
af|column::header-text {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #e6f4ff;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
}

af|column::header-number {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #e6f4ff;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
}

af|column::header-icon {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #e6f4ff;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
    display: none;
}

/** Cabecera Ordenable **/
af|column::sortable-header-text {
    border-width: 0px;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;  
}

af|column::sortable-header-number {
     border-width: 0px;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;  
}

af|column::sortable-header-icon {
    border-width: 0px;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    background-color: #CDE0F1;
    height: 19px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;  
}

/** Cabecera Iconos de Ordenamiento **/
af|column::sort-ascend-icon {
    content : url("images/table/asort.gif");
}

af|column::sort-descend-icon {
    content: url("images/table/dsort.gif");
}

/** Celdas de contenido **/
af|column::cell-number {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: white;
}

af|column::cell-number-band {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: rgb(234, 243, 251);
}

af|column::cell-icon-format {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: white;
}

af|column::cell-icon-format-band {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: rgb(234, 243, 251);
}

af|column::cell-text {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: white;
}

af|column::cell-text-band {
    border-left: 1px solid #bcdffb;
    border-right: 1px solid #bcdffb;
    border-top: 1px solid #bcdffb;
    border-bottom: 1px solid #bcdffb;
    /*border-top: 1px solid #e6f4ff;
    border-bottom: 1px solid #e6f4ff;*/
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    background-color: rgb(234, 243, 251);
}
/** Footer de la tabla **/
af|table::column-footer {
    background-color: #ffffff;
    font-weight: normal;
    font-size: 11px;
    color: #666666;
    border-bottom: 1px solid #bcdffb;
}

/** End Table **/
.MyLinkHoverColor:alias {
    color: #35739f;
    font-weight: bold;
}

.AFDarkBackground:alias {
    background-color: #FFFFFF;
}

.AFMediumBackground:alias {
    background-color: #FFFFFF;
}

.AFLightBackground:alias {
    background-color: #FFFFFF;
}

.AFLinkForeground:alias {
    color: #35739f;
    font-weight: bold;
    font-size: 12px;
}
/*** Begin panelList ***/
af|panelList {
    font-size: 12px;
}

af|panelList::link {
    font-size: 12px;
}
/*** End panelList ***/
.OraInlineInfoText {
    font-size: 10px;
    font-weight: normal;
}

.OraLink {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraLink:link {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraLink:active {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraLink:visited {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraALinkText {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraNavBarActiveLink {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraNavBarInactiveLink {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

.OraTipLabel {
    color: rgb(25, 50, 95);
    font-size: 10px; 
}

.p_OraHideShowDisclosedSymbol {
    color: rgb(25, 50, 95);
}

.OraTipText {
    color: rgb(25, 50, 95);
    font-size: 10px;
}
/** panel form distribucion **/
af|panelForm::label-cell {
    text-align: left;
    -ora-rule-ref: selector(".AFStartTextAlign:alias");
    height: 20px;
}

af|panelForm::body {
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

/** =================================================================  **/
/** colores y textos para botones activos **/
.AFButtonServerText:alias {
    background-color: rgb(198, 217, 239);
    color: #3C749F;
    font-weight: bold;
    font-size: 12px;
}
/* colores y textos para botones desabilitados */
.AFButtonServerTextDisabled:alias {
    background-color: rgb(214, 214, 214);
    color: #666666;
    font-weight: bold;
    font-size: 12px
}
/* Button start icons (left and right) depending on language settings */
.AFButtonStartIcon:alias {
    content: url("images/button/start.png");
    width: 9px;
    height: 26px
}

.AFButtonStartIcon:alias:rtl {
    content: url("images/button/start.png");
    width: 9px;
    height: 26px
}
/* Button end icons (left and right) depending on language settings */
.AFButtonEndIcon:alias {
    content: url("images/button/end.png");
    width: 9px;
    height: 26px
}

.AFButtonEndIcon:alias:rtl {
    content: url("images/button/end.png");
    width: 9px;
    height: 26px
}
/* Button top background icons (left and right) depending on language settings */
.AFButtonTopBackgroundIcon:alias {
    content: url("images/button/topBackground.png");
    width: 1px;
    height: 4px
}

.AFButtonTopBackgroundIcon:alias:rtl {
    content: url("images/button/topBackground.png");
    width: 1px;
    height: 4px
}
/* Button bottom background icons (left and right) depending on language settings */
.AFButtonBottomBackgroundIcon:alias {
    content: url("images/button/bottomBackground.png");
    width: 1px;
    height: 4px
}

.AFButtonBottomBackgroundIcon:alias:rtl {
    content: url("images/button/bottomBackground.png");
    width: 1px;
    height: 4px
}
/* Button icons for disabled buttons (left and right) depending on language settings */
.AFButtonDisabledStartIcon:alias {
    content: url("images/button/disStart.png");
    width: 9px;
    height: 26px
}

.AFButtonDisabledStartIcon:alias:rtl {
    content: url("images/button/disStart.png");
    width: 9px;
    height: 26px
}

.AFButtonDisabledEndIcon:alias {
    content: url("images/button/disEnd.png");
    width: 9px;
    height: 26px
}

.AFButtonDisabledEndIcon:alias:rtl {
    content: url("images/button/disEnd.png");
    width: 9px;
    height: 26px
}

.AFButtonDisabledTopBackgroundIcon:alias {
    content: url("images/button/disTopBackground.png");
    width: 1px;
    height: 4px
}

.AFButtonDisabledBottomBackgroundIcon:alias {
    content: url("images/button/disBottomBackground.png");
    width: 1px;
    height: 4px
}

/* CIGARRA:ADF: Nuevas definiciones para botones */

af|commandButton {
    background-image: url("images/button/backgroundbtn.png");
    padding-left: 5px;
    padding-right: 5px; 
    height: 26px;    
    
    background-color: rgb(198, 217, 239);
    color: #3C749F;
    font-weight: bold;
    font-size: 12px;    
    
    border-color: #a0c5df ;
    border-style: solid ;
    border-width: 1px;
}

/*** End Button ***/

/** showOneTab **/
/** ---------- **/
/** .AFShowOneTab:alias is included in af|showOneTab::orientation-top and 
    af|showOneTab::orientation-bottom which are the styles on the table. **/
.AFShowOneTab:alias {
    background-color: #FFFFFF;
    text-align: center;
    white-space: nowrap; 
        margin: 0px 5px 0px 5px;
}
/** make the top tab bar have a solid border underneath **/
/* CIGARRA:ADF: af|showOneTab::orientation-top { */
af|panelTabbed::orientation-top {
    border-bottom: 0px rgb(214, 214, 214)solid;
}
/** make the bottom tab bar have a solid border on top **/
/* CIGARRA:ADF: af|showOneTab::orientation-bottom { */
af|panelTabbed::orientation-bottom {
    border-top: 0px rgb(214, 214, 214)solid;
}


/* CIGARRA:ADF: af|showOneTab::separator { */
af|panelTabbed::separator {
      margin-width:10px;
}
    
/** SIN SELECCIONAR BORDER EXTERIORES **/
/* CIGARRA:ADF: af|showOneTab::tab { */
af|panelTabbed::tab {
    border-left: 0px solid #ABCBE4;
    border-right: 0px solid #ABCBE4;
    border-top: 0px solid #ABCBE4;
    border-bottom: 0px solid #ABCBE4;
    background-color: #ffffff;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px; 
    padding-top: 5px;
    padding-bottom: 5px;   
    margin: 0px 5px 0px 5px;
}

/* CIGARRA:ADF: af|showOneTab::tab-link { */
af|panelTabbed::tab-link {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #ABCBE4;
    background-color: rgb(231, 231, 231);
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 5px;
    padding-bottom: 5px; 
}
/** SELECCIONADO BORDER EXTERIORES **/
/* CIGARRA:ADF: af|showOneTab::tab-selected { */
af|panelTabbed::tab-selected {
    border-left: 0px solid #ABCBE4;
    border-right: 0px solid #ABCBE4;
    border-top: 0px solid #ABCBE4;
    border-bottom: 0px solid #ABCBE4;
    background-color: #ffffff;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    margin: 0px 5px 0px 5px;
}

/* CIGARRA:ADF: af|showOneTab::tab-selected-link { */
af|panelTabbed::tab-selected-link {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #ABCBE4;
    background-color: #CDE0F1;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* CIGARRA:ADF: af|showOneTab::tab-link:hover { */
af|panelTabbed::tab-link:hover { 

}

/* CIGARRA:ADF: af|showOneTab::tab-selected-link:hover { */
af|panelTabbed::tab-selected-link:hover {
}
/* put some space in the
    first cell */
/* CIGARRA:ADF: af|showOneTab::cell-start { */
af|panelTabbed::cell-start {

}

/* CIGARRA:ADF: af|showOneTab::cell-end { */
af|panelTabbed::cell-end {
   background-color: white;
    margin: 0px 5px 0px 5px;
}
/** put some space between the tabs and the body */
/* CIGARRA:ADF: af|showOneTab::body { */
af|panelTabbed::body {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*** End showOneTab ***/
/** menuTabs **/
/** -------- **/
.AFTabBarItem:alias {
    line-height: 100%;
    padding-left: 5px;
    margin-left: 5px;
    background-color: #ffffff;
}
/* Remove the text decoration from all tabBar links  */
.AFTabBarLink:alias {
    text-decoration: none;
    padding-left: 5px;
    margin-left: 5px;
    background-color: #ffffff;
}
/* Make the selected tab bold */
af|menuTabs::selected-link {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #ABCBE4;
    background-color: #CDE0F1;
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

af|menuTabs::enabled-link {
    border-left: 1px solid #ABCBE4;
    border-right: 1px solid #ABCBE4;
    border-top: 1px solid #ABCBE4;
    border-bottom: 1px solid #ABCBE4;
    background-color: rgb(231, 231, 231);
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

af|menuTabs::enabled-link:hover {
    -ora-rule-ref: selector(".MyLinkHoverColor:alias");
}
/** menuTabs that use icons are define like the following */
af|menuTabs::enabled-start-icon {
}

af|menuTabs::enabled-start-icon:rtl {
}

af|menuTabs::enabled-end-icon {
}

af|menuTabs::enabled-end-icon:rtl {
}

af|menuTabs::enabled-join-icon {
}

af|menuTabs::enabled-background-icon {
}

af|menuTabs::selected-enabled-join-icon {
}

af|menuTabs::selected-enabled-join-icon:rtl {
}

af|menuTabs::enabled-selected-join-icon {
}

af|menuTabs::enabled-selected-join-icon:rtl {
}

af|menuTabs::selected-start-icon {
}

af|menuTabs::selected-start-icon:rtl {
}

af|menuTabs::selected-end-icon {
}

af|menuTabs::selected-end-icon:rtl {
}

af|menuTabs::selected-join-icon {
}

af|menuTabs::selected-join-icon {
}

af|menuTabs::selected-background-icon {
}
/** menuBar **/
/** ------- **/
af|menuBar {
    background-color: #FFFFFF;
}

af|menuBar::start-icon {
}

af|menuBar::end-icon {
}

af|menuBar::background-icon {
}

af|menuBar::body {
    background-color: #FFFFFF;
    color: white;
}

af|menuBar::selected-link {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

af|menuBar::enabled {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

af|menuBar::enabled-link {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
}

af|menuBar::enabled-link:hover {
    font-size: 12px;
    color: #35739f;
    font-weight: bold;
    -ora-rule-ref: selector(".MyLinkHoverColor:alias");
}

af|menuBar::separator {
    padding: 0px 2px 0px 2px;
}
/** menuButtons **/
/** ----------- **/
.AFMenuButtons:alias {
    padding: 0px 2px 2px 4px;
    color: white;
}
/*** End Menu ***/
/** panelSideBar **/
af|panelSideBar::body {
    background-color: #D9EFAD;
    padding: 1px 1px 1px 1px;
}

af|panelSideBar::top-start-icon {
    content: url("images/panelSide/panelSideBarTopStart.gif");
}

af|panelSideBar::top-end-icon {
    content: url("images/panelSide/panelSideBarTopEnd.gif");
}

af|panelSideBar::bottom-start-icon {
    content: url("images/panelSide/panelSideBarBottomStart.gif");
}

af|panelSideBar::bottom-end-icon {
    content: url("images/panelSide/panelSideBarBottomEnd.gif");
}

af|panelSideBar::top-background-icon {
    content: url("images/panelSide/panelSideBarTopBackground.gif");
}

af|panelSideBar::bottom-background-icon {
    content: url("images/panelSide/panelSideBarBottomBackground.gif");
}

af|panelSideBar::start-background-icon {
    content: url("images/panelSide/panelSideBarStartBackground.gif");
}

af|panelSideBar::end-background-icon {
    content: url("images/panelSide/panelSideBarEndBackground.gif");
}
/*** End panelSlide ***/
/** Begin panelHeader **/
af|panelHeader {
    -ora-rule-ref: selector(".AFDarkAccentBorder:alias");
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    vertical-align: bottom;
    margin-bottom: 3px;
    padding: 0px 3px;
    font-weight: bolder;
}

af|panelHeader::level-one {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
}
/** End panelHeader **/
/* use special properties to change the ui **/
/* don't show the last item in menuPath (the default is to show it)*/
af|menuPath {
    -ora-show-last-item: false
}
/** if, for some reason, you don't want an icon to show up, you
    can hide it like this (this will be more useful when skins can
    extends other skins besides simple)
    */
af|menuPath::separator-icon {
    content: inhibit
}

af|objectSeparator {
    background-color: #B8D1DC;
    border: 1px solid #B8D1DC;
}
/** panelGrid's body area **/
/** ----------------------- **/
af|panelGrid::body {
    vertical-align: top;
}
/** mensajes */
af|messages::body {
    background-color: #F3F8FC;
    color: #666666;
    border: 1px solid #ABCBE4;
}

af|messages::error-icon {
    content: url("images/icons/errorl.gif");
    color: Red;
}

af|messages::warning-icon {
    content: url("images/icons/warnl.gif");
    color: Yellow;
}

af|messages::info-icon {
    content: url("images/icons/infol.gif");
    color: Blue;
}

/** panelLabelAndMessage formato para etiquetas de campos */
af|panelLabelAndMessage::label {
    text-align:left;
    padding-left: 20px;
}

af|panelLabelAndMessage::help-facet {
    color:Blue;
}

af|inputFile::content {
    color: #666666;
    background: #FFFFFF;
    font-weight: normal;
    border-color: #ABCBE4;
    border-width: 1px;
    border-style: solid;
}

af|inputFile:error {
    color: Red;
}

/* CIGARRA - Color mensajes de error - Se fuerza CSS */
.x52 {
    color: Red;
    font-size: 10px;
}

/* CIGARRA - Color mensajes de Titulo - Se fuerza CSS */
.x5f .x5r {
    color: #35739f;
}
.x2e{
    /*font-size: 12px !important;*/
    border-width: 0px !important;
}
.x2d{
    border-width: 0px !important;
}

.xu{
    color : #666666 !important;
}

img{
    padding-right: 5px !important;
}

/* Incio stilo previred */
.BvTablaColumna {
     border:0px;
}

.BvTabla {    
     border-collapse:collapse;
}

.BvCellTituloBold {
    border-collapse:collapse;
    font-size:11px;
    background-image: url("images/panelBox/dark/tdBackground.png");
    background-repeat: repeat-x;
    border:1px solid #BFD8EC;
    font-weight:bold;
    height:30px;     
}

.BvCellDato {
    border-collapse:collapse;
    font-size:11px;
    border:1px solid #BFD8EC;    
    font-weight:normal;
    height:20px;
}

.BvSelectComboBox {
    width: 210px;
    color: rgb(64,117,158);
    font-size:11px;
    padding-bottom: 5px;
}

.BvSelectConsultaComboBox {
    width: 200px !important;
    color: rgb(64,117,158);
    font-size:11px;
}

.bvTablaDetalle{
    border-collapse:collapse;
    font-size:11px !important;
    border:1px solid #BFD8EC;    
    font-weight:normal;
}

.BvInputFile {
    width: 289px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvInput {
    width: 110px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvInputDate {
    width: 160px;
    color: rgb(64,117,158);
    font-size:11px;
}


.af_table .x7b{
    border-style: hidden !important ;
    border-width: 0px !important;
}

.af_table .x5s{
   overflow: hidden;
   padding: 10px;
}

#selectOneChoiceEstadoProc, #selectOneChoiceMedioPago{
    width : 220px !important;
}



/* Termino stilo Previred */
