<?xml version='1.0' encoding='windows-1252'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core" xmlns:trh="http://myfaces.apache.org/trinidad/html"
          xmlns:afh="http://xmlns.oracle.com/adf/faces/html" xmlns:af="http://xmlns.oracle.com/adf/faces"
          xmlns:tr="http://myfaces.apache.org/trinidad">
  <jsp:output omit-xml-declaration="true" doctype-root-element="HTML"
              doctype-system="http://www.w3.org/TR/html4/loose.dtd"
              doctype-public="-//W3C//DTD HTML 4.01 Transitional//EN"/>
  <jsp:directive.page contentType="text/html;charset=windows-1252"/>
  <f:view>
    <trh:html binding="#{MensajesMB.html1}" id="html1">
      <trh:head binding="#{MensajesMB.head1}" id="head1">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      </trh:head>
      <trh:body binding="#{MensajesMB.body1}" id="body1">
        <tr:form binding="#{MensajesMB.form1}" id="form1">
          <!--TODO: Migrator from ADF Faces 10.1.3 to Trinidad removed the following attribute from the node below since it does not exist in Trinidad anymore
width="100%"-->
          <tr:panelBox text="Mensaje" background="light" binding="#{MensajesMB.panelBox1}" id="panelBox1">
            <tr:panelHorizontalLayout halign="center" valign="middle" binding="#{MensajesMB.panelHorizontalLayout1}"
                                      id="panelHorizontalLayout1">
              <tr:outputText styleClass="AFLabelText" value="#{MensajesMB.mensaje}" binding="#{MensajesMB.outputText1}"
                             id="outputText1"/>
            </tr:panelHorizontalLayout>
          </tr:panelBox>
        </tr:form>
      </trh:body>
    </trh:html>
  </f:view>
  <!--oracle-jdev-comment:auto-binding-backing-bean-name:MensajesMB-->
</jsp:root>
