
af|body {
  background-color:white; 
  font-size: 11px;
  font-weight: normal;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;  
}

.AFDefaultFont:alias {
  font-size: 11px; 
  font-weight: normal;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;  
 vertical-align: middle;
}

.AFDarkForeground:alias {color: #666666;}
.AFMediumForeground:alias {color:#666666;}
.AFLightForeground:alias {color: #666666;}

.AFLabelTextBold {
  font-weight: bold;
  text-align: left;
  color: #40759E;
}

.AFLabelText {
  font-weight: normal;
  font-size: 11px; 
  text-align: left;
  color: #40759E;
}

.BvOutputText {
  font-size: 11px;   
  font-weight: normal;
  text-align: left;
  color: #666666;
}

/* Incio stilo previred */
.BvTablaColumna {
     border:0px;
}

.BvTabla {    
     border-collapse:collapse;
}

.BvCellTituloBold {
    border-collapse:collapse;
    font-size:11px;
    background-color:#DEECF5;
    border:1px solid #BFD8EC;
    color:#40759D;
    font-weight:bold;
    height:30px;     
}

.BvCellDato {
    border-collapse:collapse;
    font-size:11px;
    border:1px solid #BFD8EC;    
    font-weight:normal;
    height:20px;
}

.BvSelectComboBox {
    width: 210px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvSelectConsultaComboBox {
    width: 236px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvInputFile {
    width: 289px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvInput {
    width: 110px;
    color: rgb(64,117,158);
    font-size:11px;
}

.BvInputDate {
    width: 160px;
    color: rgb(64,117,158);
    font-size:11px;
}

/* Termino stilo Previred */





.AFHeaderText:alias {
 color: #40759E;
  font-size: 14px;    
}

/** Begin FieldText */

.AFFieldText {
   color: #666666;
    font-size: 12px;    
}

.AFFieldTextDisabled {
  font-weight: normal;
  font-size: 12px;    
  color: #999999;
}


/** controles de fecha */
af|selectInputDate::launch-icon {
     content: url(/skins/BvNetLook_2009/skin_images/icons/calc.png);
}

af|selectInputDate::launch-icon:rtl {
     content: url(/skins/BvNetLook_2009/skin_images/icons/calc.png);
}

af|chooseDate::prev-icon {
  content: url(/skins/BvNetLook_2009/skin_images/icons/tnavp.gif);
}

af|chooseDate::next-icon {
  content: url(/skins/BvNetLook_2009/skin_images/icons/tnavn.gif);
}

af|chooseDate::prev-disabled-icon {
  content: url(/skins/BvNetLook_2009/skin_images/icons/tnavpd.gif);
}

af|chooseDate::next-disabled-icon {
  content: url(/skins/BvNetLook_2009/skin_images/icons/tnavnd.gif);
}


/** Begin PanelBox */
/** generic background for light panelBox's or shuttles **/

    
    .AFPanelBoxBody:alias {
       background-color: white;
       padding-left: 0px;
       padding-bottom: 6px;
       padding-right: 6px;
       padding-top: 6px;
    }
    
    .AFPanelBoxContentBody:alias {
        background-color: white;
    }
    
     
    .x10{
         vertical-align:center;
    }  


  /* ------------------------------------------------------------------------------------------------------------------------------------------------------- */
  
    /* SIN HEADER */
 /*Body dark cuando header no esta presente */
 af|panelBox::body {
     background-color: white;
 }
 
 af|panelBox::content-dark af|panelBox::body{
     background-color: white;
}


     af|panelBox::dark af|panelBox::header {
      color: #40759E;
      font-weight: bolder;
      padding-left: 10px;
      font-size: 16px;
      font-family: Arial;
      height:25px;
    }    
 
   af|panelBox::dark-header-start-icon {
    content: url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerStart.png);
    width:30px;          height:43px;            
  }
  af|panelBox::dark-header-end-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerEnd.png);
    width:17px;          height:43px;
  }
  af|panelBox::dark-header-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerBackground.png);
    width:1px;          height:43px;
  }
  af|panelBox::dark-top-start-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerStart.png);
    width:30px;          height:43px;
  }
  af|panelBox::dark-top-end-icon {
   content:url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerEnd.png);
    width:17px;          height:43px;
  }
  af|panelBox::dark-top-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/dark/headerBackground.png);
    width:1px;          height:43px;
  }
     
  
 
  /* ------------------------------------------------------------------------------------------------------------------------------------------------------- */
 
 af|panelBox::medium af|panelBox::header {
      color: #40759E;
      font-weight: bolder;
      padding-left: 10px;
      font-size: 16px;
      font-family: Arial;
      height:25px;
    }    
  
      /* SIN HEADER */
 /*Body medium cuando header no esta presente */
 af|panelBox::content-medium af|panelBox::body{
     background-color: white;
}
   
  af|panelBox::medium-header-start-icon {
    content: url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerStart.png);
    width:30px;          height:25px;            
  }
  af|panelBox::medium-header-end-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerEnd.png);
    width:17px;          height:25px;
  }
  af|panelBox::medium-header-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerBackground.png);
    width:1px;          height:25px;
  }
  af|panelBox::medium-top-start-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerStart.png);
    width:30px;          height:25px;
  }
  af|panelBox::medium-top-end-icon {
   content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerEnd.png);
    width:17px;          height:25px;
  }
  af|panelBox::medium-top-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/headerBackground.png);
    width:1px;          height:25px;
  }
  af|panelBox::medium-bottom-start-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/bottomStart.png);    
    width:30px;          height:17px;
  }
  af|panelBox::medium-bottom-end-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/bottomEnd.png);    
    width:17px;          height:17px;
  }
  af|panelBox::medium-bottom-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/bottomBackground.png);
    width:2px;          height:17px;
  }
  af|panelBox::medium-start-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/startBackground.png);
    width:30px;          height:2px;
  }
  af|panelBox::medium-end-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/medium/endBackground.png);
    width:17px;          height:2px;
  } 
  
    
       
/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */
    
     
 af|panelBox::light af|panelBox::header {
      color: #40759E;
      font-weight: bolder;
      padding-left: 10px;
      font-size: 16px;
      font-family: Arial;
      height:25px;
    }    
  
          
    /* SIN HEADER */
 /*Body light cuando header no esta presente */
 af|panelBox::content-light af|panelBox::body{
     background-color: white;
}
        
    af|panelBox::light-header-start-icon {
    content: url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerStart.png);
    width:30px;          height:65px;            
  }
  af|panelBox::light-header-end-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerEnd.png);
    width:17px;          height:65px;
  }
  af|panelBox::light-header-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerBackground.png);
    width:1px;          height:65px;
  }
  af|panelBox::light-top-start-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerStart.png);
    width:30px;          height:65px;
  }
  af|panelBox::light-top-end-icon {
   content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerEnd.png);
    width:17px;          height:65px;
  }
  af|panelBox::light-top-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/headerBackground.png);
    width:1px;          height:65px;
  }
  af|panelBox::light-bottom-start-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/bottomStart.png);    
    width:30px;          height:17px;
  }
  af|panelBox::light-bottom-end-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/bottomEnd.png);    
    width:17px;          height:17px;
  }
  af|panelBox::light-bottom-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/bottomBackground.png);
    width:2px;          height:17px;
  }
  af|panelBox::light-start-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/startBackground.png);
    width:30px;          height:2px;
  }
  af|panelBox::light-end-background-icon {
    content:url(/skins/BvNetLook_2009/skin_images/panelBox/light/endBackground.png);
    width:17px;          height:2px;
  }        

        
/** End PanelBox */


/** Begin Table **/
    .AFTableCellDataText:alias {
      color: rgb(25, 50, 95);
      font-weight: normal;
      font-size: 11px; 
    }
    .AFTableCellDataBackgroundColor:alias {
      background-color: white;
    }
    .AFTableCellDataBandedBackgroundColor:alias {
      background-color: rgb(250, 250, 250);
    }
    .AFTableCellDataBorderColor:alias {
      border-color: rgb(179, 187, 202);
    }
    
    af|table::content {
        border: rgb(204, 210, 220) 0px solid; 
	padding: 2px;
        font-size: 11px;
    }
    
     
     /** Tabla Barra de control de navegacion **/
      af|table::control-bar-top    {
       border: 1px solid  #BFD8EC;
       font-size: 12px;
       height:25px;
       text-decoration: none;
       background-color: #DEECF6;
     }
     
     af|table::control-bar-top:link    {
       font-size: 12px;
       height:25px;
       text-decoration: none;
       background-color: #E9E7D0;
     }
     
     af|table::sub-control-bar   {
        border: 1px solid  #BFD8EC;
       font-size: 12px;
       height:25px;
       text-decoration: none;
     }
     
     af|table::sub-control-bar:link   {
       font-size: 12px;
       height:25px;
       text-decoration: none;
     }
     
     af|table::control-bar-bottom    {
       border: 1px solid  #BFD8EC;
       height:25px;
       background-color: #DEECF6;
     }
     
     /** Cabecera **/
     af|column::header-text { 
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;
     }
 
     af|column::header-number { 
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;      
     }
 
     af|column::header-icon {
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;      
     }
 
     /** Cabecera Ordenable **/
     af|column::sortable-header-text {
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;      
     }
 
     af|column::sortable-header-number {
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;      
     }
 
     af|column::sortable-header-icon {
       border: 1px solid  #BFD8EC;
       font:  bold;
       height:16px;
       font-size: 11px;
       color: #40759D;
       background-color: #DEECF5;
       text-align: center;
       vertical-align: center;      
     }
     
      /** Cabecera Iconos de Ordenamiento **/
     af|column::sort-ascend-icon {
         content: url(/skins/BvNetLook_2009/skin_images/table/asort.gif);
     }
     
     af|column::sort-descend-icon {
         content: url(/skins/BvNetLook_2009/skin_images/table/dsort.gif); 
     }
     
      /** Celdas de contenido **/
     af|column::cell-number {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;
       background-color: white;
     }
 
     af|column::cell-number-band {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;
       background-color: white;
     }
 
     af|column::cell-icon-format {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;
       background-color: white;
     }
 
     af|column::cell-icon-format-band {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;
       background-color: white;
     }
 
     af|column::cell-text {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;
       background-color: white;
     }
 
     af|column::cell-text-band {
       border: 1px solid  #ABCBE4;
       font:  bold;
       font-size: 11px;
       color: #666666;      
       background-color: white;
     }
 
     /** Footer de la tabla **/    
     af|table::column-footer {
         BACKGROUND-COLOR: #DEECF5;
         color: #40759D;
         font:  bold;
         font-size: 11px;
     }    
     
     
 
/** End Table **/


.MyLinkHoverColor:alias { color:#458BBC; }

.AFDarkBackground:alias { background-color:#FFFFFF; }
.AFMediumBackground:alias { background-color:#FFFFFF; }
.AFLightBackground:alias { background-color:#FFFFFF; }

.AFLinkForeground:alias {color:#19325F;}


/*** Begin panelList ***/
    af|panelList{
      font-size: 11px;
    }
    
    af|panelList::link {
      font-size: 11px;
    }
/*** End panelList ***/

.OraInlineInfoText {
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}

.OraLink {
  font-weight: normal;
}

.OraLink:link{
  font-weight: normal;
}

.OraLink:active{
  font-weight: normal;
}

.OraLink:visited{
  font-size: 10px;
  font-weight: normal;
}

.OraALinkText{
  font-size: 10px;
  font-weight: normal;
}

.OraNavBarActiveLink{
 font-size: 10px;
}

.OraNavBarInactiveLink{
 font-size: 10px;
}

.OraTipLabel{
    color: rgb(25, 50, 95);
}

.p_OraHideShowDisclosedSymbol{
    color: rgb(25, 50, 95);
}

.OraTipText{
    color: rgb(25, 50, 95);
}


af|panelForm::label-cell {
  -ora-rule-ref: selector(".AFStartTextAlign:alias");
}

af|panelForm::body {
     padding-left: 0px;
     padding-right: 0px;
     margin-left: 0px;
     margin-right: 0px;
     vertical-align: bottom;
}

.AFLabelCell {
  font-size: 10px;
  font-weight: normal;    
}


/** =================================================================  **/

/** BUTTON STYLES. Notice the right to left icons are specified with the
:rtl pseudo-class. If :rtl icons are not specified, we default to non-:rtl icons. **/

    /** colores y textos para botones activos **/
    .AFButtonServerText:alias {background-color: #A8E2F4; color: #3C749F; font-weight: bold; font-size: 11px}
    
    
    /* colores y textos para botones desabilitados */
    .AFButtonServerTextDisabled:alias {background-color: #DDDDDD; color: #9A9A9A; font-weight: bold; font-size: 11px}
    
    /* Button start icons (left and right) depending on language settings */
    .AFButtonStartIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/start.png); width:9px; height:25px}
    .AFButtonStartIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/start.png); width:9px; height:25px}
    
    /* Button end icons (left and right) depending on language settings */
    .AFButtonEndIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/end.png); width:9px; height:25px}
    .AFButtonEndIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/end.png); width:9px; height:25px}
    
    /* Button top background icons (left and right) depending on language settings */
    .AFButtonTopBackgroundIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/topBackground.png); width:1px; height:4px}
    .AFButtonTopBackgroundIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/topBackground.png); width:1px; height:4px}
    
    /* Button bottom background icons (left and right) depending on language settings */
    .AFButtonBottomBackgroundIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/bottomBackground.png); width:1px; height:4px}
    .AFButtonBottomBackgroundIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/bottomBackground.png); width:1px; height:4px}
    
    
    /* Button icons for disabled buttons (left and right) depending on language settings */
    .AFButtonDisabledStartIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/disStart.png); width:9px; height:25px}
    .AFButtonDisabledStartIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/disStart.png); width:9px; height:25px}
    
    .AFButtonDisabledEndIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/disEnd.png); width:9px; height:25px}
    .AFButtonDisabledEndIcon:alias:rtl {content:url(/skins/BvNetLook_2009/skin_images/button/disEnd.png); width:9px; height:25px}
    
    .AFButtonDisabledTopBackgroundIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/disTopBackground.png); width:1px; height:4px}
    .AFButtonDisabledBottomBackgroundIcon:alias {content:url(/skins/BvNetLook_2009/skin_images/button/disBottomBackground.png); width:1px; height:4px}
/*** End Button ***/



/** showOneTab **/
/** ---------- **/
/** .AFShowOneTab:alias is included in af|showOneTab::orientation-top and 
    af|showOneTab::orientation-bottom which are the styles on the table. **/
    .AFShowOneTab:alias {
      background-color:#FFFFFF; 
      text-align:center;
      white-space: nowrap; 
    }
    /** make the top tab bar have a solid border underneath **/
    af|showOneTab::orientation-top {
      border-bottom: 1px solid #808EA6;
    }
    /** make the bottom tab bar have a solid border on top **/
    af|showOneTab::orientation-bottom {
      border-top: 1px solid #808EA6;
    }
    
    af|showOneTab::separator {
      margin-width:4px;
      border-top: #BB95BB; solid 2pt ;
      border-bottom: #BB95BB; solid 2pt ;
      BACKGROUND-COLOR: white;
      PADDING-LEFT: 1px;
    }
    
    af|showOneTab::tab {
      padding:2px 8px;
      font-size: 11px;
      background-color: rgb(230, 233, 238);
      border-left: solid 1pt #808EA6;
      border-top: solid 1pt #808EA6;
      border-right: solid 1pt #808EA6;
      font-weight: bold;
      white-space: nowrap; 
    }
    
    af|showOneTab::tab-link {
      padding:8px 2px; 
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
    }
    
    af|showOneTab::tab-selected {
      padding:2px 8px; 
      font-size: 11px;
      background-color: rgb(204, 210, 220);
      border-left: solid 1pt #808EA6;
      border-top: solid 1pt #808EA6;
      border-right: solid 1pt #808EA6;
      font-weight: bold;
      color: rgb(25, 50, 95);
      white-space: nowrap; 
    }      
    
    af|showOneTab::tab-selected-link  {
      padding:2px 8px; 
      font-size: 11px;
      font-weight: bold;
      color: rgb(25, 50, 95);
      text-decoration: none;
    }          
    
    af|showOneTab::tab-link:hover {
      color: #808EA6;
      font-weight: bold;
    }
    
    af|showOneTab::tab-selected-link:hover  {
      color: #808EA6;
      font-weight: bold;
    }
    
    /* put some space in the
    first cell */
    af|showOneTab::cell-start {
      background-color:transparent; 
      width:0%;
    }
    
    af|showOneTab::cell-end {
       background-color:transparent; 
       width:100%;
    }
    /** put some space between the tabs and the body */
    af|showOneTab::body {
      background-color: white;
      padding-left: 0px;
      padding-right: 0px; 
      padding-top: 5px;
    }
/*** End showOneTab ***/

/** menuTabs **/
/** -------- **/
/** You can create borders, and have image-free tabs, or you can use the
    icon keys (e.g., af|menuTabs::selected-start-icon)to create tabs with
    rounded borders. The icons are used below,
    but you can comment them out if you want. */
/** this isn't needed when we are using icons for the tabs(but the padding helps!)
    .AFTabBarItem:alias
    {
      border-style:solid; 
      border-color:#5D025E;
      border-width: 3px 2px 0px 2px;
      padding:2px 6px;
      background-color: Purple;
    }
    **/
    .AFTabBarItem:alias {
      line-height:100%;
    }
    /* Remove the text decoration from all tabBar links  */
    .AFTabBarLink:alias {
      text-decoration:none;
    }
    /* Make the selected tab bold */
    af|menuTabs::selected-link {
      font-weight: bold;
      font-size: 10px;
      color: black;
      text-decoration: none;
    
    }
    af|menuTabs::enabled-link {
      font-weight: normal;
      font-size: 10px;
      color: black;
      text-decoration: none;
    }
    
     
     af|menuTabs::enabled-link:hover {
       -ora-rule-ref:selector(".MyLinkHoverColor:alias");
     }
     
     /** menuTabs that use icons are define like the following */
     af|menuTabs::enabled-start-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledStart.gif); 
     }
     
     af|menuTabs::enabled-start-icon:rtl {
      content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledEnd.gif);  
     }
     
     af|menuTabs::enabled-end-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledEnd.gif);
     }
     
     af|menuTabs::enabled-end-icon:rtl {
      content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledStart.gif); 
     }
     
     af|menuTabs::enabled-join-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledJoin.gif); 
     }
     
     af|menuTabs::enabled-background-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledBackground.gif); 
     }
     
     af|menuTabs::selected-enabled-join-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedEnabledJoin.gif); 
     }
     
     af|menuTabs::selected-enabled-join-icon:rtl {
      content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledSelectedJoin.gif);  
     }
     
     af|menuTabs::enabled-selected-join-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsEnabledSelectedJoin.gif); 
     }
     
     af|menuTabs::enabled-selected-join-icon:rtl {
      content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedEnabledJoin.gif);  
     }
     af|menuTabs::selected-start-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedStart.gif); 
     }
     af|menuTabs::selected-start-icon:rtl {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedEnd.gif); 
     }
     
     af|menuTabs::selected-end-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedEnd.gif); 
     }
     
     af|menuTabs::selected-end-icon:rtl {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedStart.gif);  
     }
     
     af|menuTabs::selected-join-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedJoin.gif); 
     }
     
     af|menuTabs::selected-join-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabSelectedJoin.gif);
     }
     
     af|menuTabs::selected-background-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuTabsSelectedBackground.gif);
     }
     /** menuBar **/
     /** ------- **/
     af|menuBar {
       background-color: #FFFFFF;
     }
     
     af|menuBar::start-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuBarStart.gif);
       width: 17px;
       height: 20px;
     }
     
     af|menuBar::end-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuBarEnd.gif);
       width: 38px;
       height: 20px;
     }
     
     af|menuBar::background-icon {
       content:url(/skins/BvNetLook_2009/skin_images/menu/menuBarBackground.gif);
       width: 115px;
       height: 20px;
     }
     
     af|menuBar::body {
       background-color: #FFFFFF;
       color: white;
     }
     
    /** SELECCION DE ITEMS EN BARRA DE TITULO */
    af|menuBar::selected-link {
      font-size: 10px;
      color: black;
      font-weight:bold;
      text-decoration: none;
    }
    
    af|menuBar::enabled {
      font-size: 10px;
      font-weight:bold;
      color: white;
      text-decoration: none;
    }
    
    af|menuBar::enabled-link {
      color: white;
      font-size: 10px;
      text-decoration: none;
    }
    
    af|menuBar::enabled-link:hover {
      color: white;
      font-size: 10px;
      text-decoration: none;
       color: #458BBC;
     -ora-rule-ref:selector(".MyLinkHoverColor:alias");
    }
    
   /** SELECCION DE ITEMS EN BARRA DE TITULO */    
    
     
     af|menuBar::separator {
         padding: 0px 4px 0px 2px;
     }
     
     /** menuButtons **/
     /** ----------- **/
     .AFMenuButtons:alias {
       padding:0px 2px 2px 4px;
       color: white;
    }
    


/** panelSideBar **/

    af|panelSideBar::body {
        background-color: #F3F8FC;
        padding: 1px 1px 1px 1px;
    }
    
    
    af|panelSideBar::top-start-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarTopStart.gif);       
    }
    
    af|panelSideBar::top-end-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarTopEnd.gif);            
    }
    
    af|panelSideBar::bottom-start-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarBottomStart.gif);            
    }
    
    af|panelSideBar::bottom-end-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarBottomEnd.gif);            
    }
    
    af|panelSideBar::top-background-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarTopBackground.gif);            
    }
    
    af|panelSideBar::bottom-background-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarBottomBackground.gif);            
    }
    
    af|panelSideBar::start-background-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarStartBackground.gif);            
    }
    
    af|panelSideBar::end-background-icon {
      content:url(/skins/BvNetLook_2009/skin_images/panelSide/panelSideBarEndBackground.gif);            
    }
/*** End panelSlide ***/



/** Begin panelHeader **/
    af|panelHeader {
      -ora-rule-ref:selector(".AFDarkAccentBorder:alias");
       border-width:0px 0px 1px 0px; /*3x0*/
       border-style:solid;
       vertical-align:bottom;
       margin-bottom:3px;
       padding:0px 3px;
       font-weight:bolder;
    }
    
    af|panelHeader::level-one {
        color: #19325F;
        font-weight: bold;
        margin-bottom:0px;
        margin-top:0px;
    }
/** End panelHeader **/


/** selectBooleanCheckbox **/
/** ---------------------  **/
af|selectBooleanCheckbox::read-only-unchecked-icon {
  content:url(http://net.bicevida.cl/skins/BvNetLook_2008s1/skin_images/checkrn.gif);
}
af|selectBooleanCheckbox::read-only-checked-icon {
  content:url(http://net.bicevida.cl/skins/BvNetLook_2008s1/skin_images/checkrc.gif);
}
af|selectBooleanCheckbox::disabled-only-unchecked-icon {
  content:url(http://net.bicevida.cl/skins/BvNetLook_2008s1/skin_images/checkdn.gif);
}
af|selectBooleanCheckbox::disabled-only-checked-icon {
  content:url(http://net.bicevida.cl/skins/BvNetLook_2008s1/skin_images/checkdc.gif);
}

/* use special properties to change the ui **/
/* don't show the last item in menuPath (the default is to show it)*/
af|menuPath {-ora-show-last-item:false}

/** if, for some reason, you don't want an icon to show up, you
    can hide it like this (this will be more useful when skins can
    extends other skins besides simple)
    */
af|menuPath::separator-icon {content:inhibit}


/** Iconos de navegacion de datos **/
af|selectRangeChoiceBar::prev-icon    {
content: url(/skins/BvNetLook_2009/skin_images/table/tablePrev.gif);
}

af|selectRangeChoiceBar::next-icon    {
content: url(/skins/BvNetLook_2009/skin_images/table/tableNext.gif);
}

af|selectRangeChoiceBar::prev-disabled-icon    {
content: url(/skins/BvNetLook_2009/skin_images/table/tablePrevD.gif);
}

af|selectRangeChoiceBar::next-disabled-icon    {
content: url(/skins/BvNetLook_2009/skin_images/table/tableNextD.gif);
}



af|objectSeparator {
    background-color: #B8D1DC;
    border: 1px solid #B8D1DC;
}


/** panelGrid's body area **/
/** ----------------------- **/
af|panelGrid::body {
  vertical-align: top;
}

/** mensajes */
af|messages::body {
    background-color:#F3F8FC; 
    color:#666666 ;     
    border: 1px solid  #ABCBE4;       
}

af|messages::error-icon {
  content:url(/skins/BvNetLook_2009/skin_images/icons/errorl.gif);       
}

af|messages::warning-icon {
  content:url(/skins/BvNetLook_2009/skin_images/icons/warnl.gif);            
}

af|messages::info-icon {
  content:url(/skins/BvNetLook_2009/skin_images/icons/infol.gif);          
}
/**Show detail **/
.AFDetailDisclosedIcon:alias {
  content: url(/skins/BvNetLook_2009/skin_images/showdetail/minimize.gif);
}

.AFDetailUndisclosedIcon:alias {
  content: url(/skins/BvNetLook_2009/skin_images/showdetail/restore.gif);
}

af|showDetail::disclosed-icon{
  content: url(/skins/BvNetLook_2009/skin_images/showdetail/minimize.gif);
}

af|showDetail::undisclosed-icon{
  content: url(/skins/BvNetLook_2009/skin_images/showdetail/restore.gif);
}
/**End Show detail **/


